*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 80px auto;
}

.container .center{
    display: flex;
}

#imagem-titulo {
    height: 30px;
    margin-right: 10px;
}

.container p {
    margin-top: 4px;
    font-size: 15px;
    color: rgb(69, 30, 137);
}

.formulario-tarefa {
    margin-top: 23px;
}

input{
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    padding: 8px;
    width: 554px;
}

input:hover {
    border: 1px solid red;
}

Button {
    background-color: brown;
    color: #fff;
    font-size: 15px;
    padding: 8px;
    margin-left: 18px;
    border: 0px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
    background-color: rgb(150, 50, 50);
}

.container ul li {
    margin-top: 10px;
    color: rgb(39, 129, 73);
    cursor: pointer;
}